.level-bar {
    height: 20px;
    width: 400px;
    background: rgb(53, 53, 53);
    display: inline-block;
    border-radius: 5px;
}
.level-bar-inner {
    height: 20px;
    width: 200px;
    display: inline-block;
    background: lighten(rgb(255, 255, 255), 15%);
    border-radius: 5px;
}
